TAGS
*~
*#*#
*.#*
*.o
*.so
.vscode/
.idea/
build/
vcpkg_installed/
CMakeFiles/
Testing/
flipped.csv
tmp.csv
output.csv
speckle*
.envrc.local
my_profile_report.nsys-rep
.vs/**
.vs
fixture_generated/*
*.log
not_in_git/
tmp.json
t.json
t.bin
t.txt
t.html
t.js
.mypy_cache
*_local.*